@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;600&display=swap');

.bag {
    background: white;
    position: absolute;
    top: calc(100% - 20px / 2 - 16px);
    right: 5vw;
    width: 350px;
    z-index: 2;
}

.bagHeader {
    font-size: 16px;
    margin: 0 20px;
}

.viewBagBtn {
    color: #1D1F22;
    border: 1px solid #1D1F22;
    box-sizing: border-box;
}

.viewBagBtn, .checkOutBtn {
    cursor: pointer;
    font-family: 'Raleway', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 140px;
    height: 43px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
    line-height: 120%;
}

.bagButtons {
    display: flex;
    margin: 20px;
    justify-content: space-between;
}

.checkOutBtn {
    color: #FFFFFF;
    background: #5ECE7B;
}

.bagItemImg {
    width: 105px;
}

.bagItemName, .bagItemBrand {
    font-family: 'Raleway', sans-serif;
    color: #1D1F22;
    font-weight: 300;
    font-size: 16px;
    line-height: 160%;
}

.bagItem {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.counter {
    position: relative;
    cursor: pointer;
    width: 24px;
    height: 24px;
    font-weight: 600;
    font-size: 24px;
    line-height: 90%;
    text-align: center;
    border: 2px solid #1D1F22;
    box-sizing: border-box;
}

.countNum {
    margin: 30px 5px;
    color: #1D1F22;
    font-weight: 600;
    font-size: 16px;
}

.navLink {
    text-decoration: none;
}

.bagItemPrice {
    margin: 10px 0;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 160%;
}

.totalName {
    font-family: Roboto, sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 18px;
}

.totalPrice {
    margin: -5px 0 0 0;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 16px;
    line-height: 160%;
}

.totalContainer {
    margin: 0 20px;
    display: flex;
    justify-content: space-between;
}

.counting {
    display: flex;
    margin: 0 10px;
    flex-direction: column;
}

.countingAndImgContainer {
    display: flex;
}
.deleteBtn{
    cursor: pointer;
}
.bagItemsContainer {
    height: 370px;
    overflow:auto;
}