@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap');
.body {
    position: relative;
    background: #FFFFFF;
    height: 80px;
    width: 100vw;
}

.coverAll {
    position: absolute;
    margin-top: 80px;
    background: rgba(57, 55, 72, 0.22);
    min-width: 100%;
    min-height: calc(100vh - 80px);
    z-index: 1;
}

.navbar {
    top: calc(50% - 20px / 2 - 16px);
    display: flex;
    position: absolute;
    width: 350px;
    height: 56px;
    left: 101px;
    bottom: 0;

}

.button, .activeButton {
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    outline: none;
    font-size: 16px;
    text-transform: uppercase;
    line-height: 120%;
    padding: 0 14px;

}

.button {
    color: #1D1F22;
    font-weight: 400;
}

.activeButton {
    padding: 0 14px;
    color: #5ECE7B;
    border-bottom: #5ECE7B solid 2px;
    font-weight: normal;
}

.logo {
    position: absolute;
    left: 48vw;
    top: calc(50% - 20px / 2 - 16px);
}