@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto+Condensed:wght@700&family=Source+Sans+Pro:wght@300&display=swap');

.body {
    display: flex;
    justify-content: space-between;
    margin: 20px 100px;
}

.attributeItem {
    font-family: 'Source Sans Pro', sans-serif;
    cursor: pointer;
    display: flex;
    font-weight: 600;
    width: 63px;
    height: 45px;
    border: 1px solid #A6A6A6;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.05em;
    font-size: 16px;
    line-height: 18px;
    border-radius: 3px;
    margin: 6px;
}
.attributeItemCart{
    width: 24px;
    height: 24px;
    font-size: 7px;
    margin: 3px;
}
.attributeName {
    font-family: 'Roboto Condensed', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    text-transform: uppercase;
}

.attributes {
    display: flex;
}

.productImg {
    width: 80px;
    height: 80px;
}

.productImgBtn {
    cursor: pointer;
    margin: 30px;
    width: 80px;
}

.mainImg {
    width: 600px;
}

.productImgBtn:hover {
    box-shadow: 4px 4px 8px 0 rgba(34, 60, 80, 0.2);
}

.productName {
    color: #1D1F22;
    font-weight: 600;
    font-size: 30px;
    line-height: 27px;
}

.productBrand {
    color: #1D1F22;
    margin: 15px 0;
    font-size: 30px;
    line-height: 27px;
}

.productAttributes {
    margin: 50px 0;
}

.productDescription {
    font-size: 16px;
    line-height: 159.96%;
    color: #1D1F22;
}

.addToCartBtn, .addToCartDisabledBtn {
    cursor: pointer;
    background: #5ECE7B;
    border-radius: 5px;
    padding: 20px;
    margin: 25px 0;
    color: white;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
}
.addToCartDisabledBtn{
    background: #A6A6A6;
    cursor: default;
}

.addToCartBtn:active {
    background: #5ec577;
    color: #eeeeee;
}

.price {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 24px;
    line-height: 18px;
    margin: 20px 0;
}

.activeAttributeColorItem {
    border: 3px solid #ffbb00;
}

.activeAttributeTextItem {
    background: black;
    color: white;
}