@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');

.body {
    width: 100vw;
}

.productBody {
    width: 386px;
    height: 444px;
    margin: 40px 40px;
}

.productBody:hover {
    box-shadow: 0 4px 35px rgba(168, 172, 176, 0.19);
}

.productImg {
    width: 354px;
    height: 330px;
}

.image {
    position: relative;
    left: 16px;
    top: 16px;
}

.outOfStockImg {
    position: absolute;
    margin: 16px 0 0 16px;
    width: 354px;
    height: 330px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    line-height: 160%;
    background: rgba(255, 255, 255, 0.5);
    color: #8D8F9A;
}

.products {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 16px;
}

.name, .outOfStockName {
    font-family: 'Raleway', sans-serif;
    position: relative;
    margin: 15px 16px;
    font-weight: 300;
    line-height: 160%;
    font-size: 18px;
}
.name{
    color: #1D1F22;
}
.outOfStockName {
    color: #b0b0b0;
}

.price, .outOfStockPrice {
    font-family: 'Raleway', sans-serif;
    position: relative;
    margin: 0 16px;
    line-height: 160%;
    font-weight: 600;
    font-size: 18px;
}
.price{
    color: #1D1F22;
}
.outOfStockPrice {
    color: #949393;
}

.cart {
    margin: 15px;
    width: 30px;
}

.btnAdd {
    color: white;
    display: none;
    cursor: pointer;
    position: absolute;
    background: #5ECE7B;
    border-radius: 30px;
    width: 60px;
    height: 60px;
    z-index: 2;
    margin: -110px 300px;
}

.productBody:hover .btnAdd {
    display: block;
}

.categoryName {
    font-size: 42px;
    line-height: 160%;
    margin: 20px 0 0 100px;
}

.navLink {
    text-decoration: none;
}