@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap');

.bagContainer {
    border-top: #E5E5E5 1px solid;
    padding: 20px 0;
    position: relative;
    display: flex;
    justify-content: space-between;
    margin: 0 300px;
    left: -200px;
}

.cart {
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    margin: 0 0 80px 101px;
}

.cartBrand {
    margin: 15px 0;
    font-family: Raleway, sans-serif;
    font-weight: 600;
    font-size: 30px;
    line-height: 27px;
}

.cartName {
    font-family: Raleway, sans-serif;
    font-weight: 400;
    font-size: 30px;
    line-height: 27px;
}

.cartImgContainer {
    width: 141px;
    height: 185px;
}

.cartImg {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.counter {
    cursor: pointer;
    width: 45px;
    height: 45px;
    font-weight: 600;
    font-size: 35px;
    line-height: 90%;
    text-align: center;
    border: 2px solid #1D1F22;
    box-sizing: border-box;
}

.countNum {
    font-family: Raleway, sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 160%;
    margin: 28px 12px;
}

.cartPrice {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 18px;
    margin: 25px 0;
}

.deleteBtn {
    cursor: pointer;
    height: 20px;
}

.counterContainer {
    display: flex;
    margin: 0 10px;
    flex-direction: column;
}

.imgAndCounterContainer {
    display: flex;
}

.leftArrowBtn, .rightArrowBtn {
    cursor: pointer;
    position: absolute;
    padding: 10px;
    margin-top: 70px;
}

.rightArrowBtn {
    margin-left: 110px;
}