.bag{
    background: antiquewhite;
    position: absolute;
    top: calc(100% - 20px / 2 - 16px);
    right: 5vw;
    width: 325px;
}
.bagHeader{
    font-size: 16px;
}
.viewBagBtn{
    color: #1D1F22;
    border: 1px solid #1D1F22;
    box-sizing: border-box;
}
.viewBagBtn{
    color: #1D1F22;
    border: 1px solid #1D1F22;
    box-sizing: border-box;
}
.checkOutBtn{
    color: #FFFFFF;
    background: #5ECE7B;
}