.app{
    position: absolute;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    overflow-x: hidden;
}
.error {
    text-align: center;
    color: black;
    font-weight: bold;
}

.overflowHidden {
    overflow: hidden;
}
